body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
    padding-bottom: 10px;
}

button-snapshot {
    padding: 20px;
}